<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Leave Management System</title>

{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<div class="container">
    <div class="card">

        <h1>Employee Leave Management System</h1>

        <p>
            Welcome to the Employee Leave Management System.
            Submit your leave request online quickly and easily.
        </p>

        <a href="{% url 'apply_leave' %}" class="btn">
            Apply for Leave
        </a>

    </div>
</div>

<script src="{% static 'script.js' %}"></script>

</body>
</html>